
/*.background {
  padding: 20px;
  width: auto;
  height: auto;
  background-image: linear-gradient(white, #ffff99);
}

@media only screen and (max-width: 299px) and (min-width: 240px) {
  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }

  .background {
    padding: 15px;
  }

}

@media only screen and (max-width: 400px) and (min-width: 300px) {
  .content {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
  }

  .background {
    padding: 15px;
  }

}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }

  .background {
    padding: 15px;
  }
}


@media only screen and (max-width: 800px) and (min-width: 400px) {
  .content {
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 2%;
  }

  .background {
    padding: 15px;
  }

}

@media only screen and (max-width: 1300px) and (min-width: 801px) {
  .content {
    padding-left: 36%;
    padding-right: 36%;
    padding-top: 2%;
  }

}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {
  .content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
  }
}*/

#emailContainer {
  margin-bottom: 2em;
}


.w-100{
    font-size: 1.2em;
}
