#total {
  padding-top: 2%;
  padding-bottom: 2%;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

  a:hover {
    text-decoration: underline;
  }

@media (min-width: 768px) and (max-width: 1000px) {
  a {
    font-size: 0.7rem;
  }
}

@media (max-width: 767px) {
  a {
    font-size: 0.5rem;
  }
}

#advertisements {
  object-fit: scale-down;
  display: grid;
  grid-template-columns: auto 20% auto auto auto;
  grid-row-gap: 3vw;
  align-items: center;
  padding: 1%;
  padding-left: 4%;
  font-size: 1.5em;
  background-color: white;
  margin-bottom: 5%;
}

@media (max-width: 299px) {
  #advertisements {
    border-top: 1px solid #efefef;
  }
}

#div2 {
  height: auto;
}

#advertisement1 {
  text-wrap: normal;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: aliceblue;
  border: 1px solid #efefef;
  margin: auto;
  margin-left: 0;
  width: 75%;
  position: relative;
  left: -4%;
  color: black;
  height: auto;
  font-size: 0.95rem;
}

#advertisement1:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
  #advertisement1, #checkOrderDiv {
    background-color: skyblue;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #advertisement1 {
    height: auto;
    margin-left: 1.2vw;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 0.95rem;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  #advertisement1 {
    margin-left: 2.7vw;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) and (max-width: 799px) {
  #advertisement1 {
    margin-left: 3vw;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 0.85rem;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #advertisement1 {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    position: relative;
    left: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    font-size: 0.55rem;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #advertisement1 {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    position: relative;
    left: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    height: auto;
    font-size: 0.55rem;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  #advertisement1 {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    position: relative;
    left: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    font-size: 0.55rem;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  #advertisement1 {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    position: relative;
    left: 1.9vw;
    width: 100%;
    font-size: 0.5rem;
  }
}

@media (max-width: 299px) {
  #advertisement1 {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    position: relative;
    left: 3.5vw;
    width: 100%;
    font-size: 0.55rem;
  }
}

#div4 {
  margin-left: 0.3vw;
}

  #div4 img {
    width: 60%;
  }

@media (min-width: 767px) and (max-width: 1000px) {
  #div4 img {
    width: 43%;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  #div4 img {
    width: 43%;
  }
}

@media (min-width: 300px) and (max-width: 549px) {
  #div4 img {
    width: 60%;
  }
}

@media (max-width: 299px) {
  #div4 img {
    width: 70%;
    position: relative;
    left: 4vw;
  }
}

#books {
  position: relative;
  top: -1.7vw;
  left: -0.1vw;
}

@media (min-width: 768px) and (max-width: 1000px) {
  #books {
    position: relative;
    top: -1.5vw;
    left: 3.5vw;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #books {
    position: relative;
    top: -3.7vw;
    left: 7.5vw;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #books {
    position: relative;
    top: -6.7vw;
    left: 6.5vw;
    width: 65%;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  #books {
    position: relative;
    top: -6.7vw;
    left: 6.8vw;
    width: 78%;
  }
}


@media (min-width: 300px) and (max-width: 349px) {
  #books {
    position: relative;
    top: -6.7vw;
    left: 6.5vw;
    width: 78%;
  }
}

@media (max-width: 299px) {
  #books {
    position: relative;
    top: -6.7vw;
    left: 6.7vw;
    width: 78%;
  }
}

@media (max-width: 299px) {
  #books, #cover1, #cover2, #cover3 {
    visibility: hidden;
  }
}

#div1, #div3 {
  display: block;
  object-fit: scale-down;
}

  #div1 img, #div3 img {
    width: 16vw;
    height: auto;
  }

@media (min-width: 768px) and (max-width: 992px) {
  #div3 img {
    position: relative;
    left: 2.3vw;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #div3 img {
    position: relative;
    left: 5.5vw;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #div3 img {
    position: relative;
    left: 4.7vw;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  #div3 img {
    position: relative;
    left: 4.6vw;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  #div3 img {
    position: relative;
    left: 4.3vw;
  }
}

@media (max-width: 299px) {
  #div3 img {
    position: relative;
    left: 7vw;
  }
}

#div5 {
  padding-right: 4%;
}

#checkOrderDiv {
  text-wrap: normal;
  height: auto;
  border: 1px solid #efefef;
  background-color: aliceblue;
  position: relative;
  left: -2.5vw;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 4px;
  font-size: 1em;
}

@media (max-width: 768px) {
  #checkOrderDiv {
    background-color: skyblue;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #checkOrderDiv {
    position: relative;
    left: -3.5vw;
    line-height: 15%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #checkOrderDiv {
    position: relative;
    left: -4vw;
    line-height: 15%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #checkOrderDiv {
    position: relative;
    left: -3.5vw;
    line-height: 15%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #checkOrderDiv {
    position: relative;
    left: -4.5vw;
    line-height: 15%;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  #checkOrderDiv {
    width: 80%;
    position: relative;
    left: 0vw;
    line-height: 15%;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  #checkOrderDiv {
    width: 80%;
    position: relative;
    left: 0.5vw;
    line-height: 15%;
  }
}

@media (max-width: 299px) {
  #checkOrderDiv {
    width: 90%;
    position: relative;
    left: -1vw;
    line-height: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
  }

  #check {
      text-decoration: none;
      color: black;
  }

  #check:hover {
    text-decoration: none;
  }

  #div5 {
    padding-top: 25%;
    padding-bottom: 25%;
  }

  #deliveryLin {
    position: relative;
    left: -0.2rem;
  }
}


#cover1 {
  position: relative;
  top: 3.6vw;
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 799px) {
  #cover1 {
    position: relative;
    top: 4.2vw;
    z-index: 2;
  }
}

@media (min-width: 631px) and (max-width: 767px) {
  #cover1 {
    position: relative;
    top: 2.8vw;
    z-index: 2;
  }
}

@media (min-width: 600px) and (max-width: 630px) {
  #cover1 {
    position: relative;
    top: 7.4vw;
    z-index: 2;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #cover1 {
    position: relative;
    top: 8.9vw;
    z-index: 2;
  }
}

@media (min-width: 381px) and (max-width: 399px) {
  #cover1 {
    position: relative;
    top: 9.7vw;
    z-index: 2;
  }
}

@media (min-width: 350px) and (max-width: 380px) {
  #cover1 {
    position: relative;
    top: 10.7vw;
    z-index: 2;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  #cover1 {
    position: relative;
    top: 13.2vw;
    z-index: 2;
  }
}

@media (max-width: 299px) {
  #cover1 {
    visibility: hidden;
  }
}


#cover2 {
  position: relative;
  top: 2.9vw;
  z-index: 1;
}

@media (min-width: 768px) and (max-width: 799px) {
  #cover2 {
    position: relative;
    top: 3.8vw;
    z-index: 1;
  }
}

@media (min-width: 631px) and (max-width: 767px) {
  #cover2 {
    position: relative;
    top: 3.8vw;
    z-index: 1;
  }
}

@media (min-width: 600px) and (max-width: 630px) {
  #cover2 {
    position: relative;
    top: 6vw;
    z-index: 1;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #cover2 {
    position: relative;
    top: 7vw;
    z-index: 1;
  }
}

@media (min-width: 381px) and (max-width: 399px) {
  #cover2 {
    position: relative;
    top: 7.7vw;
    z-index: 2;
  }
}

@media (min-width: 350px) and (max-width: 380px) {
  #cover2 {
    position: relative;
    top: 7.7vw;
    z-index: 2;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  #cover2 {
    position: relative;
    top: 8.2vw;
    z-index: 1;
  }
}

@media (max-width: 299px) {
  #cover2 {
    position: relative;
    top: 3.4vw;
    z-index: 1;
    visibility: hidden;
  }
}

#cover3 {
  position: relative;
  top: 0.5vw;
}

@media (min-width: 601px) and (max-width: 768px) {
  #cover3 {
    position: relative;
    top: 1.5vw;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  #cover3 {
    position: relative;
    top: 3.2vw;
  }
}

@media (min-width: 381px) and (max-width: 399px) {
  #cover3 {
    position: relative;
    top: 2.8vw;
  }
}

@media (min-width: 350px) and (max-width: 380px) {
  #cover3 {
    position: relative;
    top: 2.8vw;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  #cover3 {
    position: relative;
    top: 1.7vw;
  }
}

@media (max-width: 299px) {
  #cover3 {
    visibility: hidden;
  }
}

#bestSellingContainer {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 1%;
  word-wrap: normal;
  width: 96.5%;
}

@media (min-width: 836px) and (max-width: 992px) {
  #bestSellingContainer {
    padding-left: 0.8%;
  }
}

@media (min-width: 801px) and (max-width: 835px) {
  #bestSellingContainer {
    padding-right: 0%;
    padding-left: 0.7%;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  #bestSellingContainer {
    padding-right: 0%;
    padding-left: 0.7%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #bestSellingContainer {
    padding-right: 0%;
    padding-left: 0.5%;
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  #bestSellingContainer {
    padding-right: 0%;
    padding-left: 0.2%;
  }
}

@media (min-width: 300px) and (max-width: 399px) {
  #bestSellingContainer {
    padding-right: 1%;
  }
}

@media (max-width: 299px) {
  #bestSellingContainer {
    padding-right: 0%;
    padding-left: 1.2%;
  }
}

#bestSellingContainer img {
  width: 77%;
  height: auto;
}


#imageContainer {
  width: 8vw;
  margin-bottom: 0;
}

.bestselling {
  text-align: center;
  width: 70%;
  padding-left: 1%;
  padding-right: 1%;
}

@media (max-width: 999px) {
  .bestselling {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 8vw;
  }
}

#articleDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#backgroundDiv {
  background-image: linear-gradient(white, #ffff99);
  padding: 5% 8%;
  box-shadow: #ddd 0 0 3px 3px
}

@media (max-width: 299px) {
  #backgroundDiv {
    font-size: 0.8em;
  }
}

.mainTitle {
  font-size: 1.2rem;
}

@media (min-width: 300px) and (max-width: 767px) {
  .mainTitle {
    font-size: 1.3em;
  }
}


@media (max-width: 299px) {
  .mainTitle {
    font-size: 1.2em;
  }

  #bestsellingTitle {
    font-size: 0.9em;
  }
}

@media (max-width: 299px) {

  #bestsellingTitle {
    font-size: 0.9em;
  }
}

#stickyPane {
  position: sticky;
  background-color: aliceblue;
  left: 135%;
  bottom: -25%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  height: auto;
  width: 11em;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: block;
  padding-left: 3%;
}

@media (min-width: 1201px) and (max-width: 1400px) {
  #stickyPane {
    font-size: 0.6rem;
    bottom: -14%;
    width: 8rem;
    padding-left: 2%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #stickyPane {
    font-size: 0.6rem;
    bottom: -14%;
    width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #stickyPane {
    font-size: 0.6rem;
    bottom: 3.5rem;
    width: 5.7rem;
    padding-left: 2%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #stickyPane {
    font-size: 0.6rem;
    bottom: 5rem;
    left: 128%;
    width: 2.5rem;
  }
}


@media (max-width: 599px) and (min-width: 413px) {
  #stickyPane {
    font-size: 0.6rem;
    bottom: 3.8rem;
    left: 128%;
    width: 4.5rem;
  }
}

@media (max-width: 412px) and (min-width: 400px) {
  #stickyPane {
    font-size: 0.6rem;
    bottom: 1.2rem;
    left: 128%;
    width: 4.5rem;
  }
}

@media (min-width: 361px) and (max-width:399px) {
  #stickyPane {
    font-size: 0.6rem;
    width: 4rem;
    bottom: 6%;
    left: 129%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
  }
}

@media (min-width: 350px) and (max-width:360px) {
  #stickyPane {
    font-size: 0.6rem;
    width: 4rem;
    bottom: -3.5%;
    left: 129%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
  }
}


@media (min-width: 300px) and (max-width:349px) {
  #stickyPane {
    font-size: 0.6rem;
    width: 4rem;
    bottom: -7%;
    left: 125%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
  }
}


@media (max-width:299px) {
  #stickyPane {
    font-size: 0.6rem;
    width: 4rem;
    left: 119%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 1%;
    bottom: 11%;
  }
}

@media (max-width: 767px){
    #events, #contact{
        font-size: 1.1em;
    }
}

#circle1 {
  width: 2em;
  height: 2em;
  background-color: red;
  margin-left: 1%;
  margin-top: -0.1%;
  border-radius: 50%;
}

@media (min-width:768px) and (max-width:992px) {
  #circle1 {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.5%;
  }
}

@media (min-width:300px) and (max-width:767px) {
  #circle1 {
    width: 1em;
    height: 1em;
    margin-top: 1%;
  }
}

@media (min-width:200px) and (max-width:299px) {
  #circle1 {
    width: 1em;
    height: 1em;
    margin-top: 2%;
  }
}
