<div class="w-auto pl-auto pr-auto mainBottom pt-1">
  <div id="background" class="w-75 ml-auto mr-auto  mainBottom mainTopMargin text-center h-auto">
    <div class="font-weight-bold mainTitle mainTopMargin mainBottom">Vacant positions</div>
    <p class=" w-75 mr-auto ml-auto mainBottom subTitle">
      We don't have vacant position now. Please follow us on social media to know our new job information instantly!
    </p>
    <div class=" w-75 mr-auto ml-auto mainBottom" style="object-fit: scale-down; height: auto">
      <img src="../../assets/images/workinglady.png" style="width: 50%; height: auto">
    </div>
    <p class=" w-75 mr-auto ml-auto mainBottom subTitle">
      We look forward to your return!
    </p>

  </div>
  <p style="visibility: hidden">
    In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
  </p>


</div>
