@media (max-width: 600px) {
  .w-auto {
    background-color: white;
  }
}

.w-auto {
  height: auto;
}

@media (min-height: 1100px){
  .w-auto {
    height: 100%;
  }
}

#background {
  padding: 20px;
  background-image: linear-gradient(white, #ffff99);
  margin-top: 2%;
}

@media only screen and (max-width: 299px) and (min-width: 240px) {
 

  #background {
    padding: 15px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 300px) {

  #background {
    padding: 15px;
  }

 
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  
  #background {
    padding: 15px;
  }

 
}


@media only screen and (max-width: 800px) and (min-width: 400px) {
  

  #background {
    padding: 15px;
  }


}


