<div style="width: 1550px; padding: 0">
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 layer2">
      <div class="container-fluid">
        <div class="navbar-brand text-white"><span>Forest bookstore</span></div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item navitem-left">
              <div id="searchLinkDiv" (mousemove)="searchFocus()" (mouseout)="searchBlur()" style="height: 35px; width: 120px">
                <a class="nav-link text-white" [routerLink]="" (click)="loadSearchBox()"><i class="material-icons">search</i></a>
              </div>
            </li>
            <li class="nav-item navitem-left" [routerLinkActive]="['link-active']" id="homeDiv">
              <div id="homeLinkDiv" (mousemove)="homeFocus()" (mouseout)="homeBlur()" style="height: 95%">
                <a class="nav-link text-white" [routerLink]="['/']" style="width: 90%; z-index: 1">Home</a>
              </div>
              <div id="dropdownDiv">
                <a class="nav-link text-white dropdown text-white dropdown-toggle" data-toggle="dropdown" [routerLink]=""></a>
                <div style="height: 0; width: 150%; position: relative; top: -15%">
                  <ul class="dropdown-menu">
                    <li><a [routerLink]="['statistic']" style="margin-top: 0; color: black">Statistic</a></li>
                    <li><a [routerLink]="['contact']" style="color: black">Contact us</a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li class="nav-item  navitem-left" id="booksli" [routerLinkActive]="['link-active']">
              <div id="booksLinkDiv" (mousemove)="booksFocus()" (mouseout)="booksBlur()" style="height: 95%">
                <a id="booksLink" class="nav-link text-white" [routerLink]="['/booklist']">Books</a>
              </div>
            </li>
            <li class="nav-item  navitem-left" id="cartli" [routerLinkActive]="['link-active']">
              <div id="shoppingcartdiv">
                <div class="zeroPadding">
                  <app-shoppingcart [bookCount]="bookNumber"></app-shoppingcart>
                </div>
                <div class="zeroPadding">
                  <a class="nav-link text-white" [routerLink]="" (click)="loadSummary()">
                    <i class="material-icons">shopping_cart</i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>


  <!-- Draggable DIV -->
  <div *ngIf="bookAmounts" id="test">
    <div cdkDrag id="myDiv" [cdkDragFreeDragPosition]="dragPosition" *ngIf="!isShow" (cdkDragEnded)="dragEnded($event)">
      <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
      <div id="myDivHeader">
        <button id="xx" (mousedown)="toggleDisplay()">
          X
        </button>
      </div>
      <table>
        <tr>
          <th class="title">Title</th>
          <th class="amount">Amount</th>
          <th class="price">Price</th>
          <th class="remove"></th>
        </tr>
        <tr *ngFor="let bookAmount of bookAmounts">
          <td class="title">{{bookAmount.title}}</td>
          <td>{{bookAmount.amount}}</td>
          <td>Price: {{bookAmount.price}}</td>
          <td><button value="Remove" class=".btn-default" (click)="removeItem(bookAmount)">Remove</button></td>
        </tr>
        <tr>
          <td><a [routerLink]="['postaddress']" routerLinkActive="active">Pay</a></td>
          <td>{{totalAmount}}</td>
          <td>{{totalPrice}} kr</td>
          <td><button class=".btn-default" (click)="clearCart()">Clear</button></td>
        </tr>
      </table>
    </div>
  </div>
  <div style="position: relative; height: 0"><ng-template searchHost></ng-template></div>
</div>



