#topDiv {
  margin: 0;
  min-width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

nav {
  background-color: black;
  height: 100%;
  width: 100%;
  font-weight: 600;
}

.navbar-nav  {
  border: none;
  width: 40%;
}

.dropdown-menu {
  min-width: 110px; 
  right: 100% !important;
}

  .dropdown-menu li {
    z-index: 4;
  }

.navbar-nav > li {
  border: none;
  width: 26%;
}


a.navbar-brand {
  height: 100%;
  white-space: normal;
  word-break: break-all;
  padding-top: 12%;
  background-color: black;
  min-width: 100%;
  font-size: 1.6em;
  font-weight: 800;
}

div {
    border: none;
}

span {
  font-weight: 800;
  font-size: 2vw;
}

.small-opacity {
  opacity: 0.8;
  padding-left: 5px;
  font-size: 20px;
}



.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#homeDiv {
  display: inline;
}

.dropdown-menu {
  position: relative;
  left: -300%;
  width: 80%;
  padding-left: 130%;
  padding-top: 10%;
  font-weight: 300;
  font-size: 13px;
  z-index: 5;
  background-color: aliceblue;
}


@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}


.dropdown-toggle {
  min-width: 100%;
}

@keyframes booksanimation {
  0% {
    background-color: #fc71b6;
    background-image: radial-gradient(#fc71b6, #fe59ba);
  }
  50% {
    background-color: #fa46b0;
    background-image: radial-gradient(#fa46b0, #fe59ba);
  }
  100% {
    background-image: radial-gradient(#fc71b6, #fe59ba);
  }
}

.zeroPadding {
  padding: 0;
  height: 10px;
  text-align: center;
  color: white;
}

.flatDiv {
  display: flex;
}

li a:hover {
  color: palevioletred;
}

li > div {
  text-align: center;
}

/*app-shoppingcart {
  z-index: 2;
}*/


#bookstore {
    position: absolute;
    top: 40px;
    opacity: 0.7;
}

.left-growth {
  position: absolute;
  left: 920px;
  padding-right: 100px;
  z-index: 2;
}

.no-width {
  position: absolute;
  padding-right: 100px;
  z-index: 2;
}

.material-icons {
  font-size: 20px;
}

#menuicons {
    z-index: 2;
    display: flex;
    width: 200px;
}

#menuicons > div {
  width: 50%;
}

#shoppingcartdiv {
  margin-bottom: 10px;
  margin-left: 50%;
}

#close {
  position: absolute;
  top: 8%;
  left: 87%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  visibility: hidden;
  padding: 0;
  font-size: 12px;
  z-index: 4;
}

#x {
  background-color:transparent;
  margin-right: 15px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  position: fixed;
  left: 66%;
  top: 6.5%;
  z-index: 4;
  border-radius: 50%;
  padding: 0;
  visibility: hidden;
}

nav-item:hover{
    color: #ff66ff;
}

.cover {
    position: absolute;
    width: 100%;
    left: 450px;
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid #fff;
}

input[type="text"], button {
  border: none;
}

button {
  text-align: center;
  vertical-align: central;
  border: none;
  margin-top: 2px;
  height: 85%;
  border-radius: 15px;
}
#test{
    position: relative;
    z-index: 2;
}

/*#myDiv {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 4;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: auto;
  width: 35%;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 4px;
  visibility: visible;
}*/

#myDiv {
  position: absolute;
  left: 5vh;
  top: 5vw;
  z-index: 4;
  background-color: aliceblue;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: auto;
  width: 400px;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 4px;
  visibility: visible;
}

@media only screen and (min-width: 1400px) {
  #dropdownDiv {
    position: absolute;
    top: 22%;
    margin-left: 5%;
    width: auto;
    height: 10%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  #dropdownDiv {
    position: absolute;
    top: 18%;
    margin-left: 5%;
    width: auto;
    height: 10%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 999px) {
  #dropdownDiv {
    position: absolute;
    top: 18%;
    margin-left: 4%;
    width: auto;
    height: 10%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
  .navbar-nav {
    border: none;
    width: 60%;
  }

  #dropdownDiv {
    right: 25%;
  }

  span {
      font-size: 0.8em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  .navbar-nav {
    border: none;
    width: 70%;
    font-size: 0.95em;
  }

  #dropdownDiv {
    right: 24%;
    top: 15%;
  }

  span {
    font-size: 0.9em;
  }
}


@media only screen and (min-width: 200px) and (max-width: 250px) {
  #myDiv {
    font-size: 0.18em;
    position: absolute;
    left: 0%;
    right: 5%;
    top: 5%;
    width: auto;
    padding: 5px;
  }

  #xx {
    position: fixed;
    right: 1%;
  }
}

@media only screen and (min-width: 251px) and (max-width: 319px) {
  #myDiv {
    font-size: 0.25em;
    left: 0%;
    right: 2%;
    top: 5%;
    width: auto;
    padding: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  #myDiv {
    font-size: 0.8em;
    left: 3%;
    right: 3%;
    top: 5%;
    width: auto;
    padding: 5px;
  }

}

@media only screen and (min-width: 361px) and (max-width: 600px) {
  #myDiv {
    font-size: 0.8em;
    left: 5%;
    right: 5%;
    width: auto;
  }
}

@media only screen and (max-width: 800px) {
  #xx {
    font-size: 12px;
  }
}

@media (max-width: 359px) {

  .mobilnav a {
    font-size: 0.6em;
  }
}


@media only screen and (min-width: 281px) and (max-width: 359px) {

  #mobilLinks {
    height: auto;
    padding-bottom: 3vh;
  }

    #mobilLinks a {
      background-color: #7094db;
      height: 2.5vh;
      margin-left: 0vh;
      margin-top: 0.5vh;
      margin-right: 1vh;
      margin-bottom: 0vh;
      padding-top: 0;
      padding-bottom: 0;
    }
}

  @media only screen and (min-width: 240px) and (max-width: 260px) {
    #mobilCart {
      position: absolute;
      right: 30%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 30px;
      top: 5%;
    }

    #faCart {
      position: absolute;
      top: 43%;
      right: 0;
      left: 0;
      font-size: 1.1em;
    }

    #bknMobil {
      left: 0.6em;
      margin-bottom: 3px;
      font-size: 0.7em;
      position: absolute;
    }

    #test {
      font-size: 3em;
    }

    #mobilLinks a {
      padding: 5px 5px 5px 15px;
    }

    .mobilnav {
      font-size: 0.85rem;
    }
  }

  @media only screen and (min-width: 261px) and (max-width: 280px) {

    #mobilCart {
      position: absolute;
      right: 30%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 30px;
      top: 5%;
    }

    #faCart {
      position: absolute;
      top: 43%;
      right: 0;
      left: 0;
      font-size: 1.1em;
    }

    #bknMobil {
      left: 0.6em;
      margin-bottom: 3px;
      font-size: 0.7em;
      position: absolute;
    }

    #test {
      font-size: 3em;
    }

    #mobilLinks a {
      padding: 5px 5px 5px 15px;
    }

    #mobilLinks {
      font-size: 0.85rem;
      margin-bottom: 10px;
    }
  }

  @media only screen (min-width: 281px) and (max-width: 319px) {
    /*#mobilCart {
    position: absolute;
    left: 67%;
    padding: 2px 0 2px 0;
    width: auto;
    height: 40px;
    top: 0;
  }*/

    #faCart {
      position: absolute;
      top: 43%;
      right: 0;
      left: 0;
      font-size: 1.1em;
    }

    #bknMobil {
      left: 0.7em;
      margin-bottom: 3px;
      font-size: 0.6em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 2vh;
      padding-top: 2vh;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 340px) {
    #mobilCart {
      position: absolute;
      right: 22.5%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 35px;
      top: 0;
    }

    #faCart {
      position: absolute;
      top: 45%;
      right: 0;
      left: 0;
      font-size: 1.1em;
    }

    #bknMobil {
      left: 0.6em;
      top: 8%;
      font-size: 0.7em;
      position: absolute;
    }

    #mobilLinks a {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #mobilLinks {
      margin-bottom: 10px;
    }

    .mobilnav {
      font-size: 0.9em;
    }
  }


  @media only screen and (min-width: 341px) and (max-width: 360px) {
    #mobilCart {
      position: absolute;
      right: 20%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 35px;
      top: 0;
    }

    #faCart {
      position: absolute;
      top: 45%;
      right: 0;
      left: 0;
      font-size: 1.1em;
    }

    #bknMobil {
      left: 0.6em;
      top: 8%;
      font-size: 0.7em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #mobilLinks {
      margin-bottom: 15px;
    }

    .mobilnav {
      font-size: 0.9em;
    }
  }


  @media only screen and (min-width: 361px) and (max-width: 380px) {
    #mobilCart {
      position: absolute;
      right: 20%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 50px;
      top: 0;
    }

    #faCart {
      position: absolute;
      bottom: 32%;
      right: 0;
      left: 0;
      font-size: 1.2em;
    }

    #bknMobil {
      left: 0.7em;
      top: 8%;
      margin-bottom: 0;
      font-size: 0.7em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #mobilLinks {
      margin-bottom: 15px;
    }

    .mobilnav {
      font-size: 0.9em;
    }
  }

  @media only screen and (min-width: 381px) and (max-width: 410px) {
    #mobilCart {
      position: absolute;
      left: 81%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 40px;
      top: 0;
    }

    #faCart {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      font-size: 1.2em;
    }

    #bknMobil {
      left: 0.6em;
      top: 5%;
      font-size: 0.8em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 2vh;
      padding-top: 2vh;
    }
  }

  @media only screen and (min-width: 551px) and (max-width: 649px) {
    #mobilCart {
      position: absolute;
      right: 13%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 50px;
      top: 0;
    }

    #faCart {
      position: absolute;
      bottom: 30%;
      right: 0;
      left: 0;
      font-size: 1.2em;
    }

    #bknMobil {
      left: 0.6em;
      top: 5%;
      font-size: 0.8em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #mobilLinks {
      margin-bottom: 15px;
    }

    .mobilnav {
      font-size: 0.85em;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 550px) {
    #mobilCart {
      position: absolute;
      right: 14%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 50px;
      top: 0;
    }

    #faCart {
      position: absolute;
      bottom: 30%;
      right: 0;
      left: 0;
      font-size: 1.2em;
    }

    #bknMobil {
      left: 0.6em;
      top: 5%;
      font-size: 0.8em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #mobilLinks {
      margin-bottom: 15px;
    }

    .mobilnav {
      font-size: 0.85em;
    }
  }

  @media only screen and (min-width: 411px) and (max-width: 499px) {
    #mobilCart {
      position: absolute;
      right: 18%;
      padding: 2px 0 2px 0;
      width: auto;
      height: 50px;
      top: 0;
    }

    #faCart {
      position: absolute;
      bottom: 30%;
      right: 0;
      left: 0;
      font-size: 1.2em;
    }

    #bknMobil {
      left: 0.6em;
      top: 5%;
      font-size: 0.8em;
      position: absolute;
    }

    #mobilLinks a {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #mobilLinks {
      margin-bottom: 15px;
      display: block;
    }

    .mobilnav {
      font-size: 0.85em;
    }
  }

  @media only screen (min-width: 681px) and (max-width: 800px) {
    #xx {
      font-size: 12px;
    }
  }

  #myDivHeader {
    padding-bottom: 20px;
    cursor: move;
    background-color: aliceblue;
    color: #fff;
  }

  #xx {
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    right: 2%;
    top: 2%;
    height: 25px;
  }

  th, td {
    padding: 10px;
    padding-bottom: 5px;
  }

  table {
    width: 100%;
    margin-bottom: 10%;
  }

  .title {
    width: 40%;
  }

  .price, .amount, .remove {
    width: 20%;
  }

  #xx:hover {
    background-color: blue;
    color: white;
    border-radius: 15px;
  }

  button {
    font-weight: 500;
  }

  /* Style the navigation menu */
  .mobilnav {
    overflow: hidden;
    position: relative;
    background-color: #7094db;
  }

  .active {
    background-color: #7094db !important;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .mobilnav #mobilLinks {
    display: none;
  }

  /* Style navigation menu links */
  .mobilnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }


    /* Style the hamburger menu */
    .mobilnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    /* Add a grey background color on mouse-over */
    .mobilnav a:hover {
      background-color: #ddd;
      color: black;
    }

  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
    display: flex;
  }




