  <div id="topDiv">
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="navfiled">
    <div class="container-fluid">
      <div class="navbar-brand text-white"><img src="../../assets/images/logo.png"></div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarright">
        <ul class="navbar-nav">
          <li class="nav-item" id="searchli">
            <div id="searchLinkDiv" (mousemove)="searchFocus()" (mouseout)="searchBlur()" style="height: 93%; width: 100%">
              <a class="nav-link text-white" [routerLink]="[]" (click)="loadSearchBox()"><i class="material-icons" style="font-weight: 600">search</i></a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <div id="homeLinkDiv" (mousemove)="homeFocus()" (mouseout)="homeBlur()" style="height: 93%; width: 100%; ">
              <a href="#" class="nav-link text-white" [routerLink]="['/']">Home</a>
            </div>
          </li>

          <li class="nav-item" id="booksli" [routerLinkActive]="['link-active']">
            <div id="booksLinkDiv" (mousemove)="booksFocus()" (mouseout)="booksBlur()" style="height: 93%; width: 100%">
              <a href="#" id="booksLink" class="nav-link text-white" [routerLink]="['/booklist']">Books</a>
            </div>
          </li>
          <li class="nav-item" id="cartli" [routerLinkActive]="['link-active']">

            <div class="zeroPadding">
              <a href="#" class="nav-link text-white p-0" [routerLink]="[]" (click)="loadSummary()">
                <div class="zeroPadding mb-1">
                  <app-shoppingcart [bookCount]="bookNumber"></app-shoppingcart>
                </div>
                <div>
                  <i class="material-icons">shopping_cart</i>
                </div>
              </a>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mobilnav">

    <a href="#home" class="active font-weight-bold" [routerLink]="[]" (click)="loadSummary()">
      Forest Bookstore<div href="#" id="mobilCart">
        <app-shoppingcart [bookCount]="bookNumber" id="bknMobil"></app-shoppingcart>
        <i class="fa fa-shopping-cart text-white" aria-hidden="true" id="faCart"></i>
      </div>
    </a>

    <!-- Navigation links (hidden by default) -->
    <div id="mobilLinks">
      <a href="#" [routerLink]="[]" (click)="loadSearchBox()"><i class="fa fa-search" aria-hidden="true"></i></a>
      <a href="#" [routerLink]="['/']" routerLinkActive="active">Home</a>
      <a href="#" [routerLink]="['booklist']" routerLinkActive="active">Books</a>
      <a href="#" [routerLink]="['statistic']" routerLinkActive="active">Statistics</a>
      <a href="#" [routerLink]="['contact']" routerLinkActive="active">Contact</a>
    </div>

    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" (click)="toggleMobilMeny()">
      <i class="fa fa-bars"></i>
    </a>

  </div>
</header>


<!-- Draggable DIV -->
<div *ngIf="bookAmounts" id="test" class="move">
  <div cdkDrag id="myDiv" [cdkDragFreeDragPosition]="dragPosition" *ngIf="!isShow" (cdkDragEnded)="dragEnded($event)" [style.width]="summaryWidth" >
    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
    <div id="myDivHeader">
      <button id="xx" (mousedown)="toggleDisplay()">
        X
      </button>
    </div>
    <table>
      <tr>
        <th class="title">Title</th>
        <th class="amount">Amount</th>
        <th class="price">Price</th>
        <th class="remove"></th>
      </tr>
      <tr *ngFor="let bookAmount of bookAmounts">
        <td class="title">{{bookAmount.title}}</td>
        <td>{{bookAmount.amount}}</td>
        <td>Price: {{bookAmount.price}} kr</td>
        <td><button value="Remove" class=".btn-default" (click)="removeItem(bookAmount)">Remove</button></td>
      </tr>
      <tr>
        <td><a [routerLink]="['postaddress']" routerLinkActive="active">Pay</a></td>
        <td>{{totalAmount}}</td>
        <td>{{totalPrice}} kr</td>
        <td><button class=".btn-default" (click)="clearCart()" style="border: none">Clear</button></td>
      </tr>
    </table>
  </div>
</div>
<div style="position: relative; height: 0"><ng-template searchHost></ng-template></div>
    </div>




