#topDiv {
  margin: 0;
  min-width: 100%;
}




/*

@media only screen and (max-width: 600px) {
  #topDiv {
    padding: 0%;
    margin: 0;
    width: 500px
  }
}

@media only screen and (max-width: 600px) {
  #topDiv {
    padding: 0%;
    margin: 0;
    width: 600px
  }
}

@media only screen and (max-width: 1200px) {
  #topDiv {
    padding: 0%;
    margin: 0;
    width: 1250px
  }
}

@media only screen and (max-width: 1600px) {
  #topDiv {
    padding: 0%;
    margin: 0;
    width: 1650px
  }
}

@media only screen and (max-width: 1680px) {
  #topDiv {
    padding: 0%;
    margin: 0;
    width: 1700px
  }
}*/

nav {
  background-color: black;
  height: 100%;
  width: 100%;
}

.navbar-nav  {
  border: none;
  width: 40%;
}

@media only screen and (max-width: 800px) {
  ul.navbar-nav {
    border: none;
    width: 80%;
  }

  #dropdownDiv {
    left: 430px;
  }
}



.dropdown-menu {
  z-index: 4;
  min-width: 120px;
}

/*#dropdownDiv {
  position: absolute;
  top: 20%;
  //left: 78.6%;
  //right: 20px;
  margin-left: 5%;
  width: auto;
  height: 10%;
}*/

#dropdownDiv {
  position: absolute;
  top: 20%;
  margin-left: 5%;
  width: auto;
  height: 10%;
}


  #dropdownDiv > div {
    height: 0;
    position: relative;
    top: -15%;
    left: 10px;
    width: auto;
  }


.navbar-nav > li {
  border: none;
  //width: 120px;
  width: 26%;
}


a.navbar-brand {
  height: 100%;
  white-space: normal;
  word-break: break-all;
  padding-top: 12%;
  background-color: black;
  min-width: 100%;
}

.linkDiv {
  height: 100%;
  width: 25%;
  border: none;
  position: absolute;
  top: 10px;
  left: 64%;
  z-index: 2;
  background-color: transparent;
}

div {
    border: none;
}

.linkDiv:hover {
  background-color: #ddd;
  opacity: 0.5;
}

.linkDiv1 {
  left: 63%;
}

.linkDiv2 {
  left: 72%;
}

.linkDiv3 {
  left: 81.5%;
}



.navitem-left {
  border-radius: 4px 0 0 4px;
 
}

.navitem-right {
  border-radius: 0 4px 4px 0;
}

span {
  font-weight: 800;
  font-size: 22px;
}

.small-opacity {
  opacity: 0.8;
  padding-left: 5px;
  font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#homeDiv {
    display: inline;
}



.dropdown-menu {
  position: relative;
  left: -300%;
  width: 80%;
  padding-left: 130%;
  padding-top: 10%;
  font-weight: 300;
  font-size: 13px;
  z-index: 5;
  background-color: #ddd;
}


@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

.dropdown-toggle {
  min-width: 100%;
}

#booksli {
  /*animation-name: booksanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;*/
 
}

#cartli {
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 50px;
}

@keyframes booksanimation {
  0% {
    background-color: #fc71b6;
    background-image: radial-gradient(#fc71b6, #fe59ba);
  }
  50% {
    background-color: #fa46b0;
    background-image: radial-gradient(#fa46b0, #fe59ba);
  }
  100% {
    background-image: radial-gradient(#fc71b6, #fe59ba);
  }
}

.zeroPadding {
  padding: 0;
  height: 10px;
  text-align: center;
  color: white;
}

.flatDiv {
  display: flex;
}

li a:hover {
  color: palevioletred;
}

li > div {
  text-align: center;
}

app-shoppingcart {
  z-index: 2;
}


#bookstore {
    position: absolute;
    top: 40px;
    opacity: 0.7;
}

.left-growth {
  position: absolute;
  left: 920px;
  padding-right: 100px;
  z-index: 2;
}

.no-width {
  position: absolute;
  padding-right: 100px;
  z-index: 2;
}

.material-icons {
  font-size: 20px;
}

#menuicons {
    z-index: 2;
    display: flex;
    width: 200px;
}

#menuicons > div {
  width: 50%;
}

/*#shoppingcartdiv {
  margin-bottom: 10px;
  margin-left: 55%;
}*/

#shoppingcartdiv {
  margin-bottom: 10px;
  margin-left: 80%;
}

#close {
  position: absolute;
  top: 8%;
  left: 87%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  visibility: hidden;
  padding: 0;
  font-size: 12px;
  z-index: 4;
}

#x {
  background-color:transparent;
  margin-right: 15px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  position: fixed;
  left: 66%;
  top: 6.5%;
  z-index: 4;
  border-radius: 50%;
  padding: 0;
  visibility: hidden;
}

nav-item:hover{
    color: #ff66ff;
}

.cover {
    position: absolute;
    width: 100%;
    left: 450px;
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid #fff;
}

input[type="text"], button {
  border: none;
}

button {
  text-align: center;
  vertical-align: central;
  border: none;
  margin-top: 2px;
  height: 85%;
  border-radius: 15px;
}
#test{
    position: relative;
    z-index: 2;
}

/*#myDiv {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 4;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: auto;
  width: 35%;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 4px;
  visibility: visible;
}*/

#myDiv {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 4;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: auto;
  width: 400px;
  overflow-y: auto;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 4px;
  visibility: visible;
}

#myDivHeader {
  padding-bottom: 20px;
  cursor: move;
  background-color: #f1f1f1;
  color: #fff;
}

#xx {
  border-radius: 50%;
  background-color: white;
  border: none;
  position: absolute;
  right: 2%;
  top: 2%;
  height: 25px;
}

@media only screen and (max-width: 800px){
  #xx {
  font-size: 12px;
  }
}

th, td {
  padding: 10px;
  padding-bottom: 5px;
}

table {
  width: 100%;
  margin-bottom: 10%;
}

.title {
  width: 40%;
}

.price, .amount, .remove {
  width: 20%;
}

#xx:hover {
  background-color: blue;
  color: white;
  border-radius: 15px;
}

button {
  font-weight: 500;
}





