/*.container {
    height: 807px;
    margin-left: 150px;
}*/

/*.container {
  height: 115%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
}*/

.container {
  height: auto;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
  margin-bottom: 0;
}

@media only screen and (min-height: 1050px) {
  .container {
    height: 110%;
  }
}


#formTitle {
  margin-left: 35%;
  margin-bottom: 10%;
  font-size: 16px;

}

@media only screen and (max-width: 800px) {
  #formTitle {
    margin-left: 22%;
  }
}

input[type=text] {
  border: 1px solid #dddddd;
}

input[type=submit]:hover {
  background-color: #f2f2f2;
}

form {
  width: 55%;
  left: 25%;
  position: relative;
  border: 1px solid transparent;
}



/*form {
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid transparent;
}*/
