/*.container {
  margin-left: 250px;
  padding-left: 100px;
  padding-top: 50px;
  height: 557px;
}*/

.container {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  height: 100%;
  width: 100%;
}

#result {
    font-weight: bold;
    margin-bottom: 2%;
    padding-left: 0;
}

img {
    object-fit: cover;
}

.content {
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  width: auto;
  padding-bottom: 4%;
}

.cell {
  width: 17%;
  margin-right: 1%;
  margin-bottom: 4%;
}


#background {
  background-image: linear-gradient(white, #ffff99);
  padding: 6% 6% 6% 6%;
}


.title {
  width: 85%;
  height: auto;
  word-wrap: break-word;
}

span {
  font-weight: bold;
}



@media only screen and (max-width: 800px) {

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cell {
    min-width: 30%;
    margin-right: 4%;
  }

  img {
      object-fit: cover;
  }
 
}


@media only screen and (max-width: 1280px) {
  .cell {
    min-width: 24%;
    margin-bottom: 8%;
  }

 
}


