/*.container {
  margin-left: 250px;
  padding-left: 100px;
  padding-top: 50px;
  height: 557px;
}*/

.container {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  height: 100%;
  width: 100%;
}

#result {
    font-weight: bold;
    margin-bottom: 2%;
    padding-left: 0;
}

img {
    object-fit: cover;
}

.content {
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  width: auto;
  padding-bottom: 4%;
}

.cell {
  width: 17%;
  margin-right: 1%;
  margin-bottom: 4%;
  font-size: 0.9em;
}

#background {
  background-image: linear-gradient(white, #ffff99);
  padding: 6% 6% 6% 6%;
}


.title {
  width: 85%;
  height: auto;
  word-wrap: break-word;
}

span {
  font-weight: bold;
}

@media only screen and (max-width: 249px) and (min-width: 200px) {

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cell {
    min-width: 60%;
    margin-right: 4%;
    font-size: 0.9em;
  }

  img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 299px) and (min-width: 250px) {

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cell {
    min-width: 52%;
    margin-right: 2%;
    font-size: 0.9em;
  }

  img {
    object-fit: cover;
  }
}


@media only screen and (max-width: 349px) and (min-width: 300px) {

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cell {
    min-width: 42%;
    margin-right: 4%;
    font-size: 0.9em;
  }

  img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 399px) and (min-width: 350px) {

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cell {
    min-width: 36%;
    margin-right: 4%;
    font-size: 0.9em;
  }

  img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {

  .container {
    padding-left: 1%;
    padding-right: 1%;
  }

  .cell {
    min-width: 31%;
    margin-right: 4%;
    font-size: 0.9em;
  }

  img {
    object-fit: cover;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1000px) {
  .cell {
    min-width: 19%;
    margin-bottom: 8%;
  }
}
  @media only screen and (max-width: 999px) and (min-width: 600px) {
    .cell {
      min-width: 25%;
      margin-bottom: 8%;
    }
  }


