.content {
  height: 507px;
  width: 1000px;
  margin-left: 450px;
  margin-top: 50px;
}

#gobackBtn {
  color: #2e5cb8;
}

#gobackBtn:hover {
  color: white;
}

.sharebuttons {
    display: flex;
    margin-top: 10px;
}

.sharebuttons button {
  min-width: 120px;
}

.image {
  margin-right: 2%;
}

.details {
  width: 45%;
  padding-left: 2%;
}

span {
    font-weight: 400;
}

.introduction {
    overflow-wrap: break-word; 
}




