.content {
  height: 75%;
  width: 100%;
  margin-top: 2%;
}

@media only screen and (max-width: 800px){
  .content {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 800px){
  .content {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media only screen and (min-width: 1500px) {
  .content {
    padding-left: 30%;
    padding-right: 30%;
  }
}

#gobackBtn {
  color: #2e5cb8;
}

#gobackBtn:hover {
  color: white;
}

.sharebuttons {
    display: flex;
    margin-top: 10px;
}

.sharebuttons button {
  min-width: 120px;
}

.image {
  margin-right: 2%;
}

.details {
  width: 45%;
  padding-left: 2%;
}

span {
    font-weight: 400;
}

.introduction {
    overflow-wrap: break-word; 
}




