<div id="total" class="pl-auto pr-auto">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v8.0" nonce="PWkINhof"></script>
  <div *ngIf="books" id="onebook">
    <div id="background" class="m-auto">
      <div class="cell" *ngFor="let book of books">
        <div class="image"><img src={{book.imageUrl}}></div>
        <div class="details">
          <div>
            <h2>{{book.title}} </h2>
            <dl class="dl-horizontal">
              <dt>
                Author: <span>{{book.author}}</span>
              </dt>
              <dt>
                Introduction: <span class="introduction">{{book.introduction}}</span>
              </dt>
              <dt>
                Genre: <span>{{book.genre}}</span>
              </dt>
              <dt>
                Price: <span>{{book.price}}&nbsp;kr</span>
              </dt>
            </dl>
          </div>
          <div id="operationBtns">
            <button (click)="historyBack()" id="gobackBtn">Go back</button><button (click)="chooseBook(book)">Choose</button>&nbsp;&nbsp;
          </div>

          <div class="sharebuttons" style="object-fit: scale-down">
            <!--<a target="_blank" class="fb-share-button fb-xfbml-parse-ignore  btn btn-success"  style="color: black" data-href="https://bookstorenetservice2.azurewebsites.net/bookdetails/{{id}}" data-layout="button_count" data-size="small" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbookstorenetservice2.azurewebsites.net%2Fbookdetails%2F8&amp;src=sdkpreparse" ><img src="../../assets/images/facebookLetter.png" style="width: 20%; height: auto"></a>
            <a class="twitter-share-button btn btn-success"
               href="https://twitter.com/intent/tweet" style="color: black"><img src="../../assets/images/twitterBird.png" style="width: 30%; height: auto"></a>-->
            <a target="_blank" class="btn btn-success" id="facebookButton" data-href="https://www.facebook.com/Forest-Bookstore-101461462168729" data-layout="button_count" data-size="small" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbookstorenetservice2.azurewebsites.net%2Fbookdetails%2F8&amp;src=sdkpreparse"><img src="../../assets/images/facebookLetter.png" id="imgFb"></a>
            <a class="btn btn-success pt-auto pb-auto"
               href="https://twitter.com/intent/tweet" id="twitterButton"><img src="../../assets/images/twitterBird.png" id="imgTwitter"></a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--
  <div *ngFor="let book of books" *ngIf="authorBooks" id="authorTitle">

  </div>
  -->

  <div class="text-center font-weight-bold subTitle" style="font-size: 1.5em; margin-bottom: 2%">The books of the author</div>

  <div id="authorbooks" *ngIf="authorBooks">
    <div *ngFor="let book of authorBooks">

      <div>{{book.title}} </div>
      <div>
        {{book.genre}}
      </div>
      <div>
        {{book.price}}&nbsp;kr
      </div>
      <div>
        <a [routerLink]="['/bookdetails', book.bookId]" routerLinkActive="active" (click)="getNewBook(book.bookId)">Detail </a>
      </div>
      <div>
        <button (click)="chooseBook(book)">Choose </button>
      </div>
    </div>
  </div>
</div>
<p style="visibility: hidden">
  In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
</p>-->
<!--
<div id="domibox"><figure><img src="assets/images/GuwenguanzhiSmallFront.png" ><figcaption><img src="assets/images/GuwenguanzhiSmallBottom.png"></figcaption></figure><figure><img src="assets/images/GuwenguanzhiSmallFront.png"><figcaption><img src="assets/images/GuwenguanzhiSmallBottom.png"></figcaption></figure></div>
<input type="text" id="idInput" *ngIf="userId" value="{{userId}}" style="visibility: hidden" (change)="saveUserId($event)">
  </div>
  -->
<script>
    window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>


