<div id="bg-book">
  

  <div id="flexibelDiv0">
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1280 1550" preserveAspectRatio="xMinYMin">
      <path id="edge-top" fill="#ddd" stroke="red" stroke-width="1"
            d="M 0 60 Q 575 0 640 60 Q 705 0 1280 60 L1280 60 1280 150 695 150 Q640 120 585 150 L0 150 Z" />
      <path id="inline" fill="white" stroke="none" stroke-width="1"
            d="M 695 150 Q640 120 585 150 L0 150 Z" />
      <path id="hiddenLeft" fill="none" stroke="none" stroke-width="1"
            d="M 0 95 Q 575 35 640 95" />
      <path id="hiddenRight1" fill="none" stroke="none" stroke-width="1"
            d="M 640 85 Q705 25 1280 85" />
      <path id="hiddenRight2" fill="none" stroke="none" stroke-width="1"
            d="M 648 115 Q 707 55 1280 115" />
      <path id="middleline" fill="none" stroke="#bfbfbf" stroke-width="1"
            d="M 640 110 L 640 60" />
      <text>
        <textPath href="#hiddenLeft" startOffset="10%">
          &#169; Copyright Sellereite Translation and Web Professional 2020. All right reserved.
        </textPath>
        <textPath href="#hiddenRight1" startOffset="8%" class="greenText">
          <a href="" style="font-size: 13px" matTooltip="Events" matTooltipPosition="below">Events</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="One guest one week" matTooltipPosition="below">One book one week</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="One guest one week" matTooltipPosition="below">One guest one week</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="On Facebook" matTooltipPosition="below">On Facebook</a>&nbsp;&nbsp; <a href="" style=" font-size: 13px" matTooltip="On Tweeter" matTooltipPosition="below">On Tweeter</a>
        </textPath>
        <textPath href="#hiddenRight2" startOffset="7%" class="greenText">
          <a href="" style="font-size: 13px" matTooltip="Environment protection" matTooltipPosition="below">Environment protection</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="Our divisions" matTooltipPosition="below">Our divisions</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="Often asked questions" matTooltipPosition="below">Ofen asked questions</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="Privacy" matTooltipPosition="below">Privacy</a>&nbsp;&nbsp; <a href="" style=" font-size: 13px" matTooltip="Send us a mail" matTooltipPosition="below">Send us a mail</a>
        </textPath>
      </text>
    </svg>
  </div>
</div>


