<div class="container">
  <div>
    <label>Card</label>
    <div><input type="radio" value="MasterCard" formControlName="condition"> <img src="">MasterCard</div>
    <div><input type="radio" value="Visa" formControlName="condition"><img src="">Visa</div>
    <div><input type="radio" value="SilveUnion" formControlName="condition"><img src="">Silve Union</div>
    <div class="noneborder"><input type="radio" value="id" formControlName="condition"><img src=""> Id</div>
  </div>
  <div>
    <label>Others</label>
    <div><input type="radio" value="Vipps" formControlName="condition"> <img src="">MasterCard</div>
    <div><input type="radio" value="PayPal" formControlName="condition"><img src="">Visa</div>
    <div class="noneborder"><input type="radio" value="WeChat" formControlName="condition"><img src="">Silve Union</div>
  </div>
  <div>
    <div class="noneborder"><a class="btn-primary" value="Pay"></a> </div>
  </div>
</div>
