<div class="content">
  <div id="bubbleDiv" class="bubble bubble-bottom-left" contenteditable>Thank you! We contact you as soon as possible.</div>
  
</div>

<p style="visibility: hidden">
  In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
  In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
</p>
