<div class="w-100 h-auto pl-auto pr-auto mainBottom" id="total">
  <div id="background" class="w-75 ml-auto mr-auto mainBottom text-center">
    <div class="font-weight-bold mainTitle mainTopMargin mainBottom">Ofen asked questions</div>
    <p class=" w-75 mr-auto ml-auto mainBottom subTitle">
      This page is under building
    </p>
    <div class=" w-75 mr-auto ml-auto mainBottom" style="object-fit: scale-down; height: auto">
      <img src="../../assets/images/underbuilding.png" style="width: 30%; height: auto">
    </div>
    

  </div>

  <p style="visibility: hidden">
    In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
  </p>
</div>
