<div class="w-100 bg-dark" id="total"><div class="p-0 d-flex flex-row m-auto" id="iconsContainer">
  <button (click)="fbClick()" id="fbBtn"><img src="../../assets/images/iconfinder_Rounded_Facebook_svg_5282541.png"></button>
  <button (click)="instagramClick()" id="instagramBtn"><img src="../../assets/images/iconfinder_5282544_camera_instagram.png"></button>
  <button (click)="twitterClick()" id="twitterBtn"><img src="../../assets/images/iconfinder_Rounded_Twitter5_svg_5282551.png"></button></div>
</div>
