
/*iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#textDiv {
    margin-left: 10vw;
    padding-left: 150px;
}

@media only screen and (max-width: 600px) {
  #container {
    display: inline-block;
    padding: 1%;
  }

  #frameDiv, #textDiv {
    width: 100%;
    padding: 2%;
  }

  #frameDiv0 {
    width: 100%;
    padding: 2%;
    height: 300px;
    z-index: 4;
    position: relative;
    top: 50px;
    background-color: red;
  }

  .mat-tooltip {
      background-color: red;
  }
}*/

iframe {
  border: none;
}

#textDiv {
  margin-left: 10vw;
  margin-right: 10vw;
}


#frameDiv {
  margin-left: 10vw;
  margin-left: 10vw;
}

#homeDiv {
  width: 100%;
  height: 65%;
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}

@media only screen and (max-width: 1500px) {
  #frameDiv {
    background-color: red;
  }
}
