<div class="content" style="height: 100%; padding-left: 6%; padding-right: 6%; padding-top: 2%; margin-bottom: 0; display: flex">
 
  <div style="border: none; width: 40%" >
      <iframe src="https://www.youtube.com/embed/LczZRp9Obm8" width="100%" height="45%" style="border: none" (mouseover)="getCover()" (mouseout)="removeCover()" id="iframe">
      </iframe>   
  </div>

  <div style="padding-left: 7%; padding-right: 7%; width: 60%">

    
      <label>Long history</label>
      <p style="margin-bottom: 5%">
        Forest Bookstore was opened by John Kenny and his wife Mary Kenny in 1946. It was in a tiny size for only one year and has become the largest bookstore in the country since 1956.
        Today it is one of the biggest tax contributer in the state. Except the contributions to
        cultural and economic development, we provide constantly support to public service and donate continually to environmental protection,
        health care and education.
      </p>
   
  
      <label>Fast supply</label>
      <p style="margin-bottom: 5%">
        Our solid economy and good cooperation relationships with suppliers and efficient logistics har been guaranteeing us the fastest supply of books.
        In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
      </p>
   
   
      <label>Thoughtful service</label>
      <p style="margin-bottom: 5%">
        We are a quick learner of new technologies. We apply the newest technologies in the whole of our service process, while user-friendly thought is our most important service idea. Our considerate
        work has won us the title of "The most pleasant bookstore in the country" for five years in a row.
      </p>
   
  </div>

 
</div>

