.navigation {
  display: flex;
  width: 100%;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.content {
  width: 10%;
  overflow-x: scroll;
}

ng-template {
  z-index: 1;
}

.rightnavigatingdiv {
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: right;
  width: 20px;
}

.leftnavigatingdiv {
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: left;
  width: 10%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  width: 500px;
}

.material-icons{
    font-size: 18px;
}

.d-flex, .flex-row {
  overflow-x: hidden;
  width: 250px;
}

.d-flex > div {
  text-align: center;
  font-size: 12px;
  width: 20%;
}

.booktitle {
  font-size: 12px;
  word-wrap: normal;
}




