#searchBox {
  background-color: aliceblue;
  font-weight: 300;
  font-size: 13px;
  width: 260px;
  height: auto;
  position: relative;
  left: 48%;
  top: -25px;
  padding: 1%;
  padding-right: 2%;
  z-index: 4;
}

@media only screen and (max-width: 260px) and (min-width: 200px) {
  #searchBox {
    position: relative;
    left: 0%;
    top: 10px;
    z-index: 4;
    width: 100vw;
  }
}


@media only screen and (max-width: 599px) and (min-width: 400px) {
  #searchBox {
    position: relative;
    left: 0%;
    top: 10px;
    z-index: 4;
    width: 20em;
  }
}

@media only screen and (max-width: 399px) and (min-width: 350px) {
  #searchBox {
    position: relative;
    left: 0%;
    top: 10px;
    z-index: 4;
    width: 20.5em;
  }
}

@media only screen and (max-width: 349px) and (min-width: 281px) {
  #searchBox {
    position: relative;
    left: 0%;
    top: 10px;
    z-index: 4;
    width: 85vw;
  }
}

@media only screen and (max-width: 280px) and (min-width: 261px) {
  #searchBox {
    position: relative;
    left: 0%;
    top: 10px;
    z-index: 4;
    width: 95vw;
  }
}

input[type="text"], button {
  border: none;
}

button {
  text-align: center;
  vertical-align: central;
  border: none;
  margin-top: 2px;
  height: 85%;
  border-radius: 15px;
}

#x {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}

#x:hover {
  background-color: blue;
  color: white;
}

#close {
  position: absolute;
  top: 2%;
  left: 91%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  visibility: visible;
  font-size: 12px;
}

#searchBtnDiv {
    margin-left: 2px;
}

.btn-default{
    padding-left: 15%;
    padding-right: 15%;
    width: auto;
}
