<div class="background pt-2 pl-2 pr-2 w-75 mr-auto ml-auto mainBottom" id="total">
<div class="text-center font-weight-bold mainTitle mainTopMargin mainTitleBottom">Book Marketing Statistics</div>

<p class="w-50 ml-auto mr-auto mb-5">For many readers book market statistics are not only interest, but also useful to guiding them to choose new reading materials. On another hand, for writters who wants to combine well
  his/her personal writting favor well with readers taste, good book market statistics play vital role for their career lives. We provide our book market statistics happily to meet these needs. The statistics are based on the analysis of our professional team and are usually quoted widely. Enjoy! 
</p>

<div  class="w-75 ml-auto mr-auto mb-5">
<div class="font-weight-bold text-center mainTitleBottom subTitle">General statistics</div>
<div  class="mainTitleBottom mb-4">Total book sale in april of 2021 in New York City is 100000000. 
29% romance, 25% fiction, 23% crime, 15% tool books, 8% others. (Forest Bookstore, June, 2021)</div>
</div>

  <div class="font-weight-bold text-center mainTitleBottom subTitle">Top selling books in the main categories</div>
  <div class="row w-75 mr-auto ml-auto p-4" style="background-color: #f2f2f2" [routerLinkActive]="['link-active']">
    <div class="col-4 mr-auto ml-0">
      <div class="font-weight-bold ml-4"  style="padding-left: 3px">
        Romance
      </div>
      <div>
        <ul>
          <li><a href="#" [routerLink]="['/bookdetails', 3]">Betty is a lucky girl</a></li>
          <li><a href="#" [routerLink]="['/bookdetails', 5]">Raghuvamsa Sudha</a></li>
          <li><a href="#" [routerLink]="['/bookdetails', 7]">Tommorrow is coming</a></li>
        </ul>
      </div>
    </div>
      <div class="col-4  mr-auto ml-auto">
        <div class="font-weight-bold ml-4" style="padding-left: 3px">
          Fiction
        </div>
        <ul>
          <li><a href="#" [routerLink]="['/bookdetails', 24]">Eternal life</a></li>
          <li><a href="#" [routerLink]="['/bookdetails', 10]">The man with horn</a></li>
          <li><a href="#" [routerLink]="['/bookdetails', 22]">N dimentions</a></li>
        </ul>
      </div>
      <div  class="col-4 mr-0 ml-auto">
        <div class="font-weight-bold ml-4"  style="padding-left: 3px">
          Crime
        </div>
        <ul>
          <li><a [routerLink]="['/bookdetails', 31]">The last killer</a></li>
          <li><a [routerLink]="['/bookdetails', 32]">As a young assaian</a></li>
          <li><a [routerLink]="['/bookdetails', 27]">Nothing to remember</a></li>
        </ul>
      </div>
    </div>
  </div>
