<!-- Draggable DIV -->
<div *ngIf="bookAmounts" id="test">
<div cdkDrag id="myDiv" [cdkDragFreeDragPosition]="dragPosition" *ngIf="!isShow" (cdkDragEnded)="dragEnded($event)">
  <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
  <div id="myDivHeader">
    <button id="x" (mousedown)="toggleDisplay()">
      X
    </button>
  </div>
  <table>
    <tr>
      <th class="title">Title</th>
      <th class="amount">Amount</th>
      <th class="price">Price</th>
      <th class="remove"></th>
    </tr>
    <tr *ngFor="let bookAmount of bookAmounts">
      <td class="title">{{bookAmount.title}}</td>
      <td>{{bookAmount.amount}}</td>
      <td>Price: {{bookAmount.price}}</td>
      <td><button value="Remove" class=".btn-default" (click)="removeItem(bookAmount)">Remove</button></td>
    </tr>
    <tr>
      <td><a [routerLink]="['postaddress']" routerLinkActive="active">Pay</a></td>
      <td>{{totalAmount}}</td>
      <td>{{totalPrice}} kr</td>
      <td><button class=".btn-default" (click)="clearCart()">Clear</button></td>    </tr>
  </table>
</div>
</div>
