/*.content {
    height: 557px;
    width: 1000px;
}*/

.content {
  height: 100%;
  width: 100%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 2%;
  margin-bottom: 0;
}

#background {
  padding: 10% 8%;
  background-color: aliceblue;
}

/*p {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 65%;
}*/

#vtext {
  padding-top: 2%;
  font-size: 1.8em;
  font-weight: bold;
}



@media only screen and (max-width: 800px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }
}

@media only screen and (max-width: 1300px) {
  .content {
    padding-left: 15%;
    padding-top: 2%;
  }
}

@media only screen and (max-width: 1400px) {
  .content {
    padding-left: 38%;
    padding-right: 38%;
    padding-top: 2%;
  }
}
