<div class="content">
  <div id="background">
    <p id="vtext">404 - Page Not Found</p>
  </div>
  <div id="cover1"></div>
  <div id="cover2"></div>
  <!--
  <div id="bookOrbit"><img src="ass (click)="move($event)"ets/images/askim.jpg"></div>
  -->
  <p style="visibility: hidden">
    In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
  </p>
</div>
<!--
<div id="recommandBooks" ><div id="d1" (mousemove)="move1($event)"><a href="#"><img src="../../assets/images/askim.jpg" id="img1"  ></a></div><div id="d2"><a href="#"><img src="../../assets/images/askim.jpg" (click)="move2($event)" id="img2"></a></div><div id="d3"><a href="#"><img src="../../assets/images/askim.jpg" (click)="move3($event)" id="img3"></a></div></div>
-->
