/*.content {
    height: 557px;
    width: 1000px;
}*/

.content {
  height: 100%;
  width: 100%;
  padding-left: 42%;
  padding-right: 18%;
  padding-top: 2%;
}

/*p {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 65%;
}*/

#vtext {
  padding-top: 2%;
  font-size: 1.8em;
  font-weight: bold;
}
