/*.content {
    height: 557px;
    width: 1000px;
}*/

.content {
  height: 100%;
  width: 100%;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 2%;
  margin-bottom: 0;
}

#background {
  padding: 20px;
  width: auto;
  height: auto;
  background-image: linear-gradient(white, #ffff99);
  text-align: center;
}

/*p {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 65%;
}*/

#vtext {
  padding-top: 2%;
  font-size: 1.8em;
  font-weight: bold;
}

@media only screen and (max-width: 399px) and (min-width: 240px) {
  .content {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
  }

  #background {
    padding: 15px;
  }

  #vtext {
    font-size: 2.5vw;
  }
}



@media only screen and (max-width: 800px) and (min-width: 400px) {
  .content {
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 2%;
  }

  #background {
    padding: 15px;
  }

  #vtext {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 801px) {
  .content {
    padding-left: 36%;
    padding-right: 36%;
    padding-top: 2%;
  }

 
  #vtext {
    font-size: 1.3em;
  }

}

@media only screen and (max-width: 1400px) and (min-width: 1301px) {
  .content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
  }
}
