/*div {
  height: 557px;
  width: 1000px;
  padding-left: 450px;
  padding-top: 50px;
}*/

/*.centent {
  height: 101%;
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 2%;
  padding-bottom: 0;
  min-width: 100%;
}*/

.content {
  padding-top: 2%;
}
@media (max-width: 768px) {
  .content {
    padding-top: 5%;
  }
}

  .content > div {

    position: relative;
    background-image: linear-gradient(white, #ffff99);
    padding-bottom: 5%;
  }

@media (max-width: 300px) {
  .content {
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 499px) and (min-width: 301px) {
  .content > div {
    margin-left: 5%;
    margin-right: 5%;
  }
}


@media only screen and (max-width: 700px) and (min-width: 500px) {
  .content > div {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1450px) {
  .content > div {
    width: 46%;
    margin-left: 27%;
    position: relative;
  }
}

@media only screen and (max-width: 300px) and (min-width: 200px) {
  .content > div {
    margin-left: 0%;
    margin-right: 0%;
    height: auto;
  }
}


@media only screen and (min-width: 1451px) {
  .content > div {
    margin-left: 32%;
    margin-right: 32%;
    position: relative;
  }
}

select {
    height: 2em;
}

@media only screen and (max-width: 300px) and (min-width: 200px) {
  select {
      font-size: 0.9em;
    height: 1.5em;
  }
}


#choosePeriod {
  background-color: transparent;
  padding-left: 5%;
  margin-top: 2%;
}

#periodTitle {
  margin-top: 5%;
  padding-left: 5%;
}

p {
    visibility: hidden;
}


