/*div {
  height: 557px;
  width: 1000px;
  padding-left: 450px;
  padding-top: 50px;
}*/

/*.centent {
  height: 101%;
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 2%;
  padding-bottom: 0;
  min-width: 100%;
}*/

.content {
  height: 75%;
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 2%;
}


canvas {
  width: auto;
}

p {
    visibility: hidden;
}
