/*div {
  height: 557px;
  width: 1000px;
  padding-left: 450px;
  padding-top: 50px;
}*/

/*.centent {
  height: 101%;
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 2%;
  padding-bottom: 0;
  min-width: 100%;
}*/

.content {
  height: 100%;
  padding-top: 2%;
}

.content > div {
    width: 35%;
    margin-left: 30%;
    position: relative;
}

p {
    visibility: hidden;
}

@media only screen and (max-width: 800px){
  .content > div {
    width: 70%;
    margin-left: 15%;
    position: relative;
  }
}

@media only screen and (min-width: 800px) {
  .content > div {
    width: 45%;
    margin-left: 25%;
    position: relative;
  }
}
