.row {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0;
}

agm-map {
  height: 200px;
}

.mapDiv {
  padding: 0;
  margin-top: 8%;
}

.callDiv {
  //border: 1px solid #dddddd;
  border: 1px solid transparent;
  border-bottom: none;
  padding: 10%;
  border-radius: 4px 4px 0 0;
}

.addressDiv {
  border: 1px solid transparent;
  border-top: none;
  padding: 10%;
  border-radius: 0 0 4px 4px;
}

#formTitle {
  margin-left: 40%;
}

input[type=text], input[type=submit], input[type=email], select, textarea {
  width: 100%;
}

input[type=text] {
  border: 1px solid #dddddd;
}

input[type=submit]:hover {
  background-color: #f2f2f2;
}

form {
  box-shadow: 1px #888888;
  padding: 10%;
  margin-left: 6%;
  border: 1px solid transparent;
  border-radius: 4px;
}
