<div class="content">
  <div id="bubbleDiv" class="bubble bubble-bottom-left" contenteditable>Your payment has been fullfilled successfully. Thank you!</div>
  <div id="expectionDiv">We look forward to your return!</div>
  <p style="visibility: hidden">
    In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
  </p>
</div>
