.bubble {
  position: relative;
  line-height: 24px;
  width: 300px;
  font-size: 14px;
  background-image: linear-gradient(white, #ffff99);
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  margin-top: 10%;
}

/*.bubble {
  position: relative;
  font-size: 14px;
  line-height: 100%;
  width: 40%;
  background: #ddd;
  border-radius: 40px;
  padding: 5%;
  text-align: center;
  color: #000;
  margin-top: 40%;
  margin-left: 30%;
}*/

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #ffff99;
  border-right: 12px solid transparent;
  border-top: 12px solid #ffff99;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

/*.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 48px solid #ddd;
  border-right: 48px solid transparent;
  border-top: 48px solid #ddd;
  border-bottom: 40px solid transparent;
  left: 3%;
  bottom: -1%;
}*/



/*.content {
  background-color: red;
  position: relative;
  margin-bottom: 0;
  height: 70%;
  padding-left: 40%;
  padding-right: 40%;
  color: #000000;
  font-weight: 400;
  min-width: 100%;
  padding-top: 2%;
}*/

.content {
  height: 100%;
  padding-top: 3%;
  color: #000000;
  font-weight: 400;
  font-size: 1em;
  min-width: 100%;
  padding-left: 38%;
  padding-right: 38%;
}

@media (max-width: 600px) {
  .content {
    background-color: white;
    margin-bottom: -1em;
  }
}

@keyframes rotateText {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.1);
  }
}

#bubbleDiv {
  animation: rotateText 5s;
  animation-iteration-count: 1;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  margin-top: 3.5%;
}

#expectionDiv {
  position: relative;
  top: -100px;
  z-index: 4;
  width: 300px;
  height: 100px;
  opacity: 0;
  background-image: linear-gradient(white, #ffff99);
  animation: fadeIn 5s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 14px;
  text-align: center;
  padding-top: 10%;
}

/*#expectionDiv {
  position: relative;
  top: -15%;
  z-index: 4;
  height: 20%;
  opacity: 0;
  background-color: #ddd;
  animation: fadeIn 6s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  padding-top: 6%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -3%;
}*/

@keyframes fadeIn {
  10% {
    opacity: 0.2;
  }
  30% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  80% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

/*@media only screen and (max-width: 800px){
  .content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.5em;
  }
}*/

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.5em;
  }

  .bubble {
    width: 100%;
  }

  #expectionDiv {
    width: 100%;
    padding-top: 12%;
  }
}


@media only screen and (max-width: 299px) and (min-width: 240px) {
  .content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    font-size: 0.3em;
  }

  .bubble {
    width: 100%;
  }

  #expectionDiv {
    width: 100%;
    padding-top: 15%;
  }
}


@media only screen and (max-width: 349px) and (min-width: 300px) {
  .content {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    font-size: 1em;
  }

  .bubble {
    width: 100%;
  }

  #expectionDiv {
    width: 100%;
    padding-top: 14%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
  .content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
    font-size: 1em;
  }

  .bubble {
    width: 100%;
  }

  #expectionDiv {
    width: 100%;
    padding-top: 12%;
  }
}

@media only screen and (min-width: 350px) and (max-width: 599px) {
  .content {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    font-size: 1em;
  }

  .bubble {
    width: 100%;
  }


  #expectionDiv {
    width: 100%;
    padding-top: 15%;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .content {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 2%;
    font-size: 1em;
  }

  .bubble {
    width: 100%;
  }

  #expectionDiv {
    width: 100%;
    padding-top: 15%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1001px) {
  .content {
    padding-left: 38%;
    padding-right: 38%;
    padding-top: 2%;
  }

  .bubble {
    width: 100%;
  }

  #expectionDiv {
    width: 100%;
    padding-top: 14%;
  }
}


@media only screen and (max-width: 1400px) and (min-width: 1301px) {
  .content {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 2%;
  }
}

