.bubble {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  width: 300px;
  background: #ddd;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  margin-top: 10%;
}

/*.bubble {
  position: relative;
  font-size: 14px;
  line-height: 100%;
  width: 40%;
  background: #ddd;
  border-radius: 40px;
  padding: 5%;
  text-align: center;
  color: #000;
  margin-top: 40%;
  margin-left: 30%;
}*/

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #ddd;
  border-right: 12px solid transparent;
  border-top: 12px solid #ddd;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

/*.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 48px solid #ddd;
  border-right: 48px solid transparent;
  border-top: 48px solid #ddd;
  border-bottom: 40px solid transparent;
  left: 3%;
  bottom: -1%;
}*/

/*@media only screen and (max-width: 800px){
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #ddd;
    border-top: 24px solid #ddd;
    border-right: 24px solid transparent;
    border-bottom: 20px solid transparent;
    left: 6%;
    bottom: -3%;
  }
}*/

/*.content {
  background-color: red;
  position: relative;
  margin-bottom: 0;
  height: 70%;
  padding-left: 40%;
  padding-right: 40%;
  color: #000000;
  font-weight: 400;
  min-width: 100%;
  padding-top: 2%;
}*/

.content {
  height: 80%;
  padding-top: 3%;
  color: #000000;
  font-weight: 400;
  min-width: 100%;
  padding-left: 30%;
  padding-right: 30%;
}


@keyframes rotateText {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.1);
  }
}

#bubbleDiv {
  animation: rotateText 5s;
  animation-iteration-count: 1;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  margin-top: 3.5%;
}

#expectionDiv {
  position: relative;
  top: -100px;
  z-index: 4;
  width: 300px;
  height: 100px;
  opacity: 0;
  background-color: #ddd;
  animation: fadeIn 5s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  padding-top: 4%;
}

/*#expectionDiv {
  position: relative;
  top: -15%;
  z-index: 4;
  height: 20%;
  opacity: 0;
  background-color: #ddd;
  animation: fadeIn 6s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  padding-top: 6%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -3%;
}*/

@keyframes fadeIn {
  10% {
    opacity: 0.2;
  }
  30% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  80% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}
