/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: red;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

div {
  margin: 0;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}

/*body > div {
  padding: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  border: none;
  border-spacing: 0;
}*/

body > div {
  /*padding: 0;
  max-width: 100%;
  height: 100%;
  border: none;
  border-spacing: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);*/
}

body > div {
  padding: 0;
  max-width: 100%;
  height: 100%;
  border: none;
  border-spacing: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

body {
  overflow-x: hidden;
}

.container {
  overflow-y: hidden;
}

div, button, input[type=text] {
  border-radius: 4px;
  border: none;
}

.summaryPosition {
  z-index: 4;
  position: absolute;
  top: 200px;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, Helvetica Neue, sans-serif;
}

/*body {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}*/


button:hover {
  background-color: blue;
  color: white;
}

button {
  font-weight: bold;
}
