<div class="content" id="total">
  <div id="background">
    <p id="vtext">You come from an decoration link</p>
  </div>
  <div id='loading'>
    <div class='hold left'>
      <div class='fill'></div>
    </div>
    <div class='hold right'>
      <div class='fill'></div>
    </div>
  </div>
  <p style="visibility: hidden">
    In addition, we have our own publishers following tightly the changes of the market and producing books that meet new market trends. With this strategy we have not only satisfied well our customers but also contributed significantly to increasing the generall reading interest in the soceity.
  </p>
</div>
