<footer>
  <div class="w-100 m-0">
    <!-- <ul id="ul1" class="pl-auto pr=auto">

    <li class="d-inline-block">
      <div class="p-0" id="arrowContainer"><i class="fa fa-angle-double-up text-center" (click)="back()"></i></div>
      <div class="p-0" id="buttonContainer"><button class="btn-link pt-auto pb-auto height-auto" (click)="back()">BACK TO TOP</button></div>
    </li>
  </ul>
  <ul [routerLinkActive]="['link-active']" id="ul2" class="pl-auto pr=auto">
    <li><a [routerLink]="['careers']">Careers</a></li>
    <li><a [routerLink]="['events']">Events</a></li>
    <li><a [routerLink]="['privacy']">Privacy Policy</a></li>
  </ul>
  <ul id="ul3" class="pl-auto pr=auto">
    <li><a [routerLink]="['contact']">Contact</a></li>
    <li><a [routerLink]="['questions']">Ofen Asked Questions</a></li>
  </ul>
  <ul id="ul4" class="pl-auto pr=auto">
    <li><a [routerLink]="['market']">Market Trends</a></li>
    <li><a [routerLink]="['statistic']">Popular Books</a></li>
  </ul>-->
    <ul id="ul1" class="pl-auto pr-auto text-center">
      <li class="d-inline-block">
        <div class="p-0" id="arrowContainer"><i class="fa fa-angle-double-up text-center" (click)="back()"></i></div>
        <div class="p-0" id="buttonContainer"><button class="btn-link pt-auto pb-auto height-auto" (click)="back()">BACK TO TOP</button></div>
      </li>
      </ul>
      <ul id="ul2" class="pl-auto pr-auto">
      <li><a [routerLink]="['careers']">Careers</a></li>
      <li><a [routerLink]="['events']">Events</a></li>
      <li><a [routerLink]="['privacy']">Privacy Policy</a></li>

      <li><a [routerLink]="['contact']">Contact</a></li>
      <li><a [routerLink]="['questions']">Ofen Asked Questions</a></li>

      <li><a [routerLink]="['market']">Market Trends</a></li>
      <li><a [routerLink]="['statistic']">Popular Books</a></li>
    </ul>
  </div>
</footer>
