<div id="total">
  <div id="background">
    <ng-template summaryHost></ng-template>
    <div class="font-weight-bold catelog">Romance</div>
    <div class="row listrow">
      <div class="leftnavigatingdiv" id="romanceleftnav">
        <button (click)="slideLeftRomance()" class="btn btn-default bg-transparent" id="romanceleftbtn">
          <i class="material-icons">chevron_left</i>
        </button>
      </div>
      <div class="content d-flex flex-row" #romanceBooks>
        <div *ngFor="let book of romances">
          <div><img src={{book.imageUrl}}></div>
          <div class="title">
            {{book.title}}&nbsp;&nbsp;
          </div>
          <div class="title">
            <span>Author:</span>&nbsp;{{book.author}}&nbsp;&nbsp;
          </div>
          <div>
            <a [routerLink]="['/bookdetails', book.bookId]" routerLinkActive="active">Detail</a> <button type="submit" class="btn-default" (click)="onSelect(book)">Choose</button>
          </div>
        </div>
      </div>
      <div class="rightnavigatingdiv" id="romancerightnav">
        <button (click)="slideRightRomance()" class="btn btn-default bg-transparent" id="romancerightbtn">
          <i class="material-icons">chevron_right</i>
        </button>
      </div>
    </div>
    <div class="catelog row">Fiction</div>

    <div class="row listrow">
      <div class="leftnavigatingdiv" id="fictionleftnav">
        <button (click)="slideLeftFiction()" class="btn btn-default  bg-transparent" id="fictionleftbtn">
          <i class="material-icons">chevron_left</i>
        </button>
      </div>
      <div class="content d-flex flex-row" #fictionBooks>
        <div *ngFor="let book of fictions">
          <div><img src={{book.imageUrl}}></div>
          <div class="title">{{book.title}}</div>
          <div class="title">
            <span>Author:</span>&nbsp;{{book.author}}&nbsp;&nbsp;
          </div>
          <div>
            <a [routerLink]="['/bookdetails', book.bookId]" routerLinkActive="active">Detail</a>
            <button type="submit" class="btn-default" (click)="onSelect(book)">Choose</button>
          </div>
        </div>
      </div>                                                                                           
      <div class="rightnavigatingdiv" id="fictionrightnav">
        <button (click)="slideRightFiction()" class="btn btn-default  bg-transparent" id="fictionrightbtn">
          <i class="material-icons">chevron_right</i>
        </button>
      </div>
    </div>
    <div class="catelog row">Crime</div>

    <div class="row listrow">
      <div class="navBtn leftnavigatingdiv" id="crimeleftnav">
        <button (click)="slideLeftCrime()" class="btn btn-default  bg-transparent" id="crimeleftbtn">
          <i class="material-icons">chevron_left</i>
        </button>
      </div>
      <div class="content d-flex flex-row" #crimeBooks>
        <div *ngFor="let book of crimes">
          <div><img src={{book.imageUrl}}></div>
          <div class="title">{{book.title}}</div>
          <div class="title">
            <span>Author:</span>&nbsp;{{book.author}}&nbsp;&nbsp;
          </div>
          <div>
            <a [routerLink]="['/bookdetails', book.bookId]" routerLinkActive="active">Detail</a><button type="submit" class="btn-default" (click)="onSelect(book)">Choose</button>
          </div>
        </div>
      </div>
      <div class="rightnavigatingdiv" id="crimerightnav">
        <button (click)="slideRightCrime()" class="btn btn-default  bg-transparent" id="crimerightbtn">
          <i class="material-icons">chevron_right</i>
        </button>
      </div>
    </div>
  </div>
  <input type="text" id="idInput" *ngIf="userId" value="{{userId}}" style="visibility: hidden" (change)="saveUserId($event)">
</div>

