<div class="content">
<div class="grid-container">
  <div class="grid-item">
    <div>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
    </div>
    <div>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
    </div>
    <div>
      <a></a>
      <a></a>
      <a></a>
    </div>
  </div>
  <div class="grid-item">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="grid-item">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="grid-item">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
</div>
