
#bg-book {
  //background-color: antiquewhite;
  background-color: transparent;
  height: 150px;
  margin: 0;
  width: 100%;
}

text {
    fill: black;
}

.greenText {
  fill: black;
  text-decoration: underline;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 800;
  }
}
