
<p id="bg-book">
  <svg height="100%" width="100%">
    <path fill="white"
          d="M 0 150 L 725 150 Q 775 100 825 150 L 1550 150" />

    <path id="edge" fill="#ddd" stroke="#bfbfbf" stroke-width="1"
          d="M 0 150 L 0 60 Q 675 0 775 60 Q 875 0 1550 60 L1550 150  825 150 Q775 125 725 150 L0 150" />
    <path id="innerLine" fill="none" stroke="#bfbfbf" stroke-width="1"
          d="M 0 120 Q 675 50 775 120 M 775 120 Q 875 50 1550 120" />
    <path id="hiddenLeft" fill="none" stroke="none" stroke-width="1"
          d="M 0 95 Q 675 25 775 95" />
    <path id="hiddenRight1" fill="none" stroke="none" stroke-width="1"
          d="M 775 82 Q 875 12 1550 82" />
    <path id="hiddenRight2" fill="none" stroke="none" stroke-width="1"
          d="M 775 107 Q 875 37 1550 107" />
    <path id="middleline" fill="none" stroke="#bfbfbf" stroke-width="1"
          d="M 775 120 L 775 60" />
    <text>
      <textPath href="#hiddenLeft" startOffset="150px">
        &#169; Copyright Sellereite Translation and Web Professional 2020. All right reserved.
      </textPath>
      <textPath href="#hiddenRight1" startOffset="130px" class="greenText">
        <a href="" style="font-size: 13px" #tooltip="matTooltip" matTooltip="Events" matTooltipPosition="below">Events</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="One guest one week" matTooltipPosition="below">One book one week</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="One guest one week" matTooltipPosition="below">One guest one week</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="On Facebook" matTooltipPosition="below">On Facebook</a>&nbsp;&nbsp; <a href="" style=" font-size: 13px" matTooltip="On Tweeter" matTooltipPosition="below">On Tweeter</a>
      </textPath>
      <textPath href="#hiddenRight2" startOffset="130px" class="greenText">
        <a href="" style="font-size: 13px" matTooltip="Environment protection" matTooltipPosition="below">Environment protection</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="Our divisions" matTooltipPosition="below">Our divisions</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="Often asked questions" matTooltipPosition="below">Ofen asked questions</a>&nbsp;&nbsp;<a href="" style=" font-size: 13px" matTooltip="Privacy" matTooltipPosition="below">Privacy</a>&nbsp;&nbsp; <a href="" style=" font-size: 13px" matTooltip="Send us a mail" matTooltipPosition="below">Send us a mail</a>
      </textPath>
    </text>
  </svg>
</p>


