#bg-book {
  background-color: transparent;
  height: auto;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  position: relative;
  bottom: -5%;
}

svg {
  z-index: 2;
}

text {
  fill: black;
}

.greenText {
  fill: black;
  text-decoration: underline;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 800;
  }
}
